.header__nombreAgencia__h1{
    text-transform: uppercase;
    color: $primary-color;  
    font-weight: 600;
    margin-right: 20px;
}
.paquetes__h1{
    color: $primary-color;
    text-transform: uppercase;
    text-shadow: $primary-color 0.1em 0.1em 0.2em;
}